<mat-toolbar color="primary">
    <button mat-icon-button (click)="start.open('mouse')">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<mat-sidenav-container class="container" autosize>
    <mat-sidenav #start role="navigation" mode="side" opened>
        <mat-nav-list *ngIf="!isLoggedIn">
            <a mat-list-item routerLinkActive routerLink="/auth">
                Login
            </a>
        </mat-nav-list>
        <mat-nav-list *ngIf="isLoggedIn">
            <a mat-list-item routerLinkActive routerLink="/connection/info">
                Info
            </a>
            <a mat-list-item routerLinkActive routerLink="/connection/terminal">
                Terminal
            </a>
            <a mat-list-item routerLinkActive routerLink="/connection/chat">
                Chat
            </a>
            <a mat-list-item routerLinkActive routerLink="/auth" (click)="logout()">
                Logout
            </a>
        </mat-nav-list>
        <button mat-button tabindex="-1" (click)="start.close()">CLOSE</button>
    </mat-sidenav>
    <mat-sidenav-content>
        <main dir="ltr" class="mat-app-background">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
