<cdk-virtual-scroll-viewport itemSize="50" (scrolledIndexChange)="nextBatch($event, (messages[messages.length - 1].name))">
    <div *cdkVirtualFor="let message of messages; let i = index; trackBy: trackByIdx">
        <span class="user-id">{{ message.playerId }}</span>
        <span>{{ message.message }}</span>
    </div>
</cdk-virtual-scroll-viewport>
