<div class="row">
    <div class="col-md-12">
        <mat-card>
            <mat-card-header>
                <mat-card-title class="title">404 Page Not Found</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>The page you were looking for doesn't exist</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
